@model IEnumerable<F1Lib.Models.Result>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="tableheadermakeup">
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grandprix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Circuit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Driver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rounds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr>
                <td class="tableelementmakeup">
                     
                </td>
                <td class="tableelementmakeup">
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                </td>
                <td class="tableelementmakeup">
                    @Html.DisplayFor(modelItem => item.Grandprix.Name)
                </td>
                <td class="tableelementmakeup">
                    <a asp-controller="Driver" asp-route-id="@item.Circuit.Name" asp-action="index">@Html.DisplayFor(modelItem => item.Circuit.Name)</a>
                </td>
                <td class="tableelementmakeup">
                    <a asp-controller="Driver" asp-route-id="@item.Driver.Name" asp-action="index">@Html.DisplayFor(modelItem => item.Driver.Name)</a>
                </td>
                <td class="tableelementmakeup">
                    <a asp-controller="Driver" asp-route-id="@item.Team.Name" asp-action="index">@Html.DisplayFor(modelItem => item.Team.Name)</a>
                </td>
                <td class="tableelementmakeup">
                    @Html.DisplayFor(modelItem => item.Rounds)
                </td>
                <td class="tableelementmakeup">
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td class="tableelementmakeup">
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
