@model IEnumerable<F1Lib.ViewModels.SeasonVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead class="tableheadermakeup">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Races)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class = "tableelementmakeup hyperlinkmakeup">
                <a asp-controller="Result" asp-route-id="@item.Year" asp-action="index">@Html.DisplayFor(modelItem => item.Year)</a>
            </td>
            <td class="tableelementmakeup">
                @Html.DisplayFor(modelItem => item.Races)
            </td>
        </tr>
}
    </tbody>
</table>
